.footer {
	background-color: black;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuCustomer {
	padding-top: 35px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.cardsCustomer {
	padding-right: 10px;
	padding-left: 10px;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.cart {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.form-cart {
	margin-bottom: 20px;
}

#checkout-button {
	margin-top: 20px;
}

#input-address {
	margin-bottom: 35px;
}